@model IEnumerable<proj1.Models.News>

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>News</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.PublishDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsPublished)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
                <td>@Html.DisplayFor(modelItem => item.IsPublished)</td>
                <td>@Html.DisplayFor(modelItem => item.Category!.Name)</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
